# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
venv312/
venv_py*/
.venv/
env/
.env.venv/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Build
dist/
build/
*.egg-info/
